<app-navigation></app-navigation>

<div id="main-container">

    <P class="title">Your folders</P>

    <p id="line"></p>

    <div id="container">
        <span class="item">
            <img class="item-image" src="../../../assets/images/plus.png"/>
            <p class="folder-name">New folder</p>
        </span>

        <span class="item" *ngFor="let i of folderNames;" (dblclick)="openFolder(i)">
            <img class="item-image" src="../../../assets/images/folder.png"/>
            <div class="hover-element">
                
            </div>
            <div class="tooltip">
                <p class="folder-name">{{ i }}</p>
                <p class="tooltiptext">{{ i }}</p>
            </div>
        </span>
    </div>
</div>