<div id="container">
    <div class="left">
        <h2>Manage your documents now!</h2>
        <div id="login">
            <h2 class="button" [routerLink]="['/login']">Log in</h2>
            <img id="cursor" src="../../../../assets/images/click.png">
        </div>

        <h2>Don't have an account?</h2>
        <h2 class="button" [routerLink]="['/registration']">Sign up</h2>

    </div>
    <div class="right">
        <div class="sunflower-container">
            <img id="sunflower" src="../../../../assets/images/sunflower.png">
        </div>
        <h1 class="title">Welcome to Gallery app!</h1>
        <p>Organize all your documents in one place.</p>
    </div>

    <input type="file" accept="image/*,video/*,audio/*,text/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation" (change)="onSelectFile($event)">
</div>
