<app-navigation></app-navigation>

<div id="main-container">

    <span id="hover-span" (click)="back()">
        <img id="back" src="../../../assets/images/back.png" *ngIf="currentFolder !== 'Your documents'"/> 
        <p class="title">{{ currentFolder }}</p>
    </span>

    <p></p>

    <div class="tools">
        <div class="add" (click)="openDialog()">
            <img id="plus-icon" src="../../assets/images/plus.png"/>
            <span>Upload file</span>
        </div>
    </div>

    <p id="line"></p>

    <div id="container">
        <span class="item" (click)="openCreateFolderDialog()">
            <img class="item-image" src="../../../assets/images/plus.png"/>
            <p class="folder-name">New folder</p>
        </span>
        <!-- folders will be dispayed first and documents after -->
        <span class="item" *ngFor="let i of folderNames;" (dblclick)="openFolder(i)">
            <img class="item-image" src="../../../assets/images/folder.png"/>
            <div class="hover-element">
                <!-- <span><img class="option" src="../../../assets/images/open_folder.png" (click)="openFolder(i)"/></span> -->
                <span><img class="option" src="../../../assets/images/add-group.png" (click)="addPeople()"/></span>
                <span><img class="option" src="../../../assets/images/trash.png" (click)="deleteFolder()"/></span>
            </div>
            <div class="tooltip">
                <p class="folder-name">{{ i }}</p>
                <p class="tooltiptext">{{ i }}</p>
            </div>
        </span>
        <span class="item" *ngFor="let i of documentsNames;" (dblclick)="openFile(i)">
            <img class="item-image" [src]="choosePicture(i)"/>
            <div class="hover-element">
                <span><img class="option" src="../../../assets/images/edit-text.png" (click)="edit(i)"/></span>
                <span><img class="option" src="../../../assets/images/information.png" (click)="openInfo()"/></span>
                <span><img class="option" src="../../../assets/images/add-group.png" (click)="addPeople()"/></span>
                <span><img class="option" src="../../../assets/images/download.png" (click)="download(i)"/></span>
            </div>
            <div class="tooltip">
                <p class="folder-name">{{ i }}</p>
                <p class="tooltiptext">{{ i }}</p>
            </div>
        </span>
    </div>
</div>
